<app-repo *ngIf="loading; else data"></app-repo>
<ng-template #data>
  <div class="container">
    <div class="rounded-xl w-full mt-20">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center">
        <div class="flex gap-4 flex-col sm:flex-row items-center">
          <img
            [src]="ownerData?.avatarUrl"
            class="h-32 rounded-full w-fit shadow-md border-2"
          />
          <div class="flex flex-col flex-wrap grow items-center sm:items-start">
            <div>
              <p class="text-3xl text-center sm:text-left">
                {{ ownerData?.name }}
              </p>

              <p class="text-sm text-center sm:text-left">
                {{ ownerData?.bio }}
              </p>
            </div>
            <div
              *ngIf="ownerData?.__typename === 'User'"
              class="mt-3 flex flex-row gap-3 flex-1"
            >
              <div class="flex flex-row gap-1 items-center">
                <img src="../../assets/icons/git-commit.svg" class="h-5" />
                <p class="text-xs">
                  {{
                    ownerData?.contributionsCollection.totalCommitContributions
                  }}
                </p>
              </div>
              <div class="flex flex-row gap-1 items-center">
                <img src="../../assets/icons/git-pull.svg" class="h-4" />
                <p class="text-xs">
                  {{
                    ownerData?.contributionsCollection
                      .totalPullRequestContributions
                  }}
                </p>
              </div>
              <div class="flex flex-row gap-1 items-center">
                <img src="../../assets/icons/issues.svg" class="h-4" />
                <p class="text-xs">
                  {{
                    ownerData?.contributionsCollection.totalIssueContributions
                  }}
                </p>
              </div>
              <div class="flex flex-row gap-1 items-center">
                <img src="../../assets/icons/eye.svg" class="h-4" />
                <p class="text-xs">
                  {{
                    ownerData?.contributionsCollection
                      .totalPullRequestReviewContributions
                  }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          *ngIf="ownerData?.__typename === 'User'"
          class="text-xs flex flex-row gap-2 bg-white md:place-self-end md:w-fit p-3 rounded-lg shadow-sm items-center"
        >
          <img src="../../assets/icons/follow.svg" class="h-4" />
          <p>Followers: {{ ownerData.followers.totalCount }}</p>
          <div class="border-l-2"></div>
          <p>Following: {{ ownerData?.following.totalCount }}</p>
        </div>
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 my-4 overflow-scroll"
      >
        <div
          *ngFor="let repos of ownerData?.repositories.edges"
          class="bg-white p-4 rounded-lg border"
        >
          <div class="flex flex-row justify-between">
            <p class="text-lg font-light">{{ repos.node.name }}</p>
            <div class="flex flex-row gap-2 flex-wrap justify-end">
              <div class="flex felx-row gap-1 items-center text-xs">
                <img src="../../assets/icons/star.svg" class="h-4" />
                <p>{{ repos.node.stargazerCount }}</p>
              </div>
              <div class="flex felx-row gap-1 items-center text-xs">
                <img src="../../assets/icons/refresh.svg" class="h-3" />
                <p>{{ repos.node.updatedAt | date }}</p>
              </div>
            </div>
          </div>
          <p class="text-xs line-clamp-3 pt-6">{{ repos.node.description }}</p>
          <div class="flex flex-row flex-wrap gap-1 pt-3">
            <div *ngFor="let languageEdge of repos.node.languages.edges">
              <div
                [style.background-color]="languageEdge.node.color"
                class="px-3 py-1 rounded-full items-end"
              >
                <p class="text-xs text-white">{{ languageEdge.node.name }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="relative rounded-xl w-full mt-2 border p-4 mb-10">
      <div
        class="absolute top-0 right-0 flex flex-row flex-nowrap gap-1 items-center px-2 py-1 rounded-se-xl rounded-es-xl bg-slate-50 shadow-sm"
      >
        <img src="../../assets/icons/refresh.svg" class="h-3" />
        <p class="text-sm">{{ repoData.updatedAt | date }}</p>
      </div>
      <div class="flex flex-row flex-nowrap gap-2 items-center mt-4">
        <div
          [style.background-color]="repoData?.primaryLanguage?.color"
          class="h-3 w-3 rounded-full"
        ></div>
        <p class="text-xl">{{ repoData.name }}</p>
        <div class="flex flex-row gap-1 flex-nowrap">
          <p
            class="text-xs text-emerald-300 bg-emerald-50 px-1 w-fit rounded-md border border-emerald-100"
          >
            {{ repoData.defaultBranchRef.name }}
          </p>
          <p
            *ngIf="!repoData.isPrivate; else public"
            class="text-xs text-neutral-600 bg-neutral-50 px-1 w-fit rounded-md border border-neutral-300"
          >
            private
          </p>
          <ng-template #public>
            <p
              class="text-xs text-neutral-600 bg-neutral-50 px-1 w-fit rounded-md border-2 border-neutral-300"
            >
              public
            </p>
          </ng-template>
        </div>
      </div>
      <p class="pt-1">{{ repoData.description }}</p>
      <div class="flex flex-row flex-wrap gap-x-4 gap-y-1 mt-5 items-center">
   <div
          class="flex flex-row flex-nowrap py-2 px-4 bg-white  border rounded-md gap-4 justify-center w-fit"
        >
          <div class="flex flex-row flex-nowrap gap-1">
            <img
              src="../../assets/icons/git-pull.svg"
              class="h-4 w-4 self-center"
            />

            <p class="text-sm">{{ repoData.openPullRequests.totalCount }}</p>
          </div>
           <div class="border-l-2 "></div>
          <div class="flex flex-row flex-nowrap gap-1">
            <img
              src="../../assets/icons/code-pull-request-closed-svgrepo-com.svg"
              class="h-4 w-4 self-center"
            />
            <p class="text-sm">{{ repoData.closedPullRequests.totalCount }}</p>
          </div>
        </div>

        <div
          class="flex flex-row flex-nowrap py-2 px-4 bg-white  border rounded-md gap-4 justify-center w-fit"
        >
          <div class="flex flex-row flex-nowrap gap-1">
            <img
              src="../../assets/icons/issues.svg"
              class="h-4 w-4 self-center"
            />
            <p class="text-sm">{{ repoData.openIssues.totalCount }}</p>
          </div>
          <div class="border-l-2"></div>
          <div class="flex flex-row flex-nowrap gap-1">
            <img
              src="../../assets/icons/issue-close-svgrepo-com.svg"
              class="h-4 w-4 self-center"
            />
            <p class="text-sm">{{ repoData.closedIssues.totalCount }}</p>
          </div>
        </div>

        <div
          class="flex flex-row flex-nowrap py-2 px-4 bg-white border rounded-md gap-4 justify-center w-fit"
        >
          <div class="flex flex-row flex-nowrap gap-1">
            <img
              src="../../assets/icons/fork.svg"
              class="h-4 w-4 self-center"
            />
            <p class="text-sm">{{ repoData.forkCount }}</p>
          </div>
          <div class="border-l-2"></div>
          <div class="flex flex-row flex-nowrap gap-1">
            <img
              src="../../assets/icons/star.svg"
              class="h-4 w-4 self-center"
            />
            <p class="text-sm">{{ repoData.stargazerCount }}</p>
          </div>
          <div class="border-l-2"></div>
          <div class="flex flex-row flex-nowrap gap-1">
            <img src="../../assets/icons/eye.svg" class="h-4 w-4 self-center" />
            <p class="text-sm">{{ repoData.watchers.totalCount }}</p>
          </div>
        </div>
      </div>
      <div class="mt-4 bg-white rounded-lg p-3 overflow-scroll">
        <p>Last Branches</p>
        <div class="flex flex-row gap-2 flex-wrap pt-2">
          <p
            class="px-3 py-2 bg-zinc-100 text-xs rounded-lg whitespace-nowrap"
            *ngFor="let branch of repoData.branches.nodes"
          >
            {{ branch.name }}
          </p>
        </div>
      </div>
      <div
        class="flex flex-row flex-wrap gap-2 bg-white rounded-md text-sm mt-3 p-3"
      >
        <div
          *ngFor="let language of repoData.languages.edges"
          class="flex flex-row gap-1 items-center border px-1 rounded-full"
        >
          <div
            [style.background-color]="language.node.color"
            class="h-3 w-3 rounded-full"
          ></div>
          <p>{{ language.node.name }}</p>
        </div>
      </div>
    </div>
  </div>
</ng-template>
