<app-skeleton-loader *ngIf="loading; else data" [includeCalendar]="true"></app-skeleton-loader>
<ng-template #data>
  <div class="container flex flex-col md:flex-row pt-10 gap-5">
    <app-my-profile-bio></app-my-profile-bio>
    <div class="grid grid-cols-1 gap-3 lg:grid-cols-2 w-full">
      <div
        matTooltip="tets"
        [routerLink]="['/profile', userData.login, 'repos']"
        class="hover:bg-slate-100 cursor-pointer md:hidden group col-start-1 col-end-2 lg:col-end-3 border p-2 text-center rounded-md bg-slate-50 flex flex-row items-center justify-center gap-2 hover:shadow-sm"
      >
        <p>View all repositories</p>
        <img
          src="../../assets//icons/arrow-right-circle-svgrepo-com.svg"
          class="h-4 w-4 self-center group-hover:translate-x-1 duration-150"
        />
      </div>
      <div
        *ngFor="let repo of userData?.repositories?.nodes"
        class="border rounded-md p-5"
      >
        <div class="grid grid-cols-1 gap-5 place-content-between">
          <div class="flex flex-row flex-wrap gap-1 items-center">
            <img
              src="../../assets/icons/git-repository-svgrepo-com.svg"
              class="max-h-4 max-w-4"
            />
            <p class="text-sky-600 font-bold text-md">
              <a [href]="repo.url" target="_blank">{{ repo.name }}</a>
            </p>
            <p
              *ngIf="repo.isPrivate; else public"
              class="text-xs border px-1 rounded-full border-gray-300 text-gray-500"
            >
              Private
            </p>
            <ng-template #public>
              <p
                class="text-xs border px-1 rounded-full border-gray-300 text-gray-500"
              >
                Public
              </p>
            </ng-template>
          </div>
          <div class="flex flex-row flex-nowrap gap-1 items-center">
            <div
              [style.background-color]="repo?.primaryLanguage?.color"
              class="h-3 w-3 rounded-full"
            ></div>
            <p class="text-sm">{{ repo.primaryLanguage?.name }}</p>
          </div>
        </div>
      </div>
      <div
        [routerLink]="['/profile', userData.login, 'repos']"
        class="cursor-pointer hidden group col-start-1 col-end-2 lg:col-end-3 border p-2 text-center rounded-md bg-slate-50 hover:bg-slate-100 md:flex flex-row items-center justify-center gap-2 hover:shadow-sm"
      >
        <p matTooltip="tets">View all repositories</p>
        <img
          src="../../assets//icons/arrow-right-circle-svgrepo-com.svg"
          class="h-4 w-4 self-center group-hover:translate-x-1 duration-150"
        />
      </div>

      <app-user-contribuition
        *ngIf="userData"
        class="col-start-1 col-end-2 lg:col-end-3 pt-4 border rounded p-2 mb-10"
        [contribuitions]="userData.contributionsCollection"
      ></app-user-contribuition>
    </div>
  </div>
</ng-template>
