<div class="container pt-10">
  <!-- Skeleton for the top section -->
  <div class="flex animate-pulse flex-col md:flex-row items-center justify-center md:justify-start flex-nowrap gap-x-10 gap-y-2">
    <div class="w-20 animate-pulse md:w-40 h-20 md:h-40 bg-gray-200 rounded-md"></div> <!-- Placeholder for image -->
    <div class="flex animate-pulse flex-col gap-3">
      <div class="md:mt-5 animate-pulse justify-center md:justify-start flex-col items-center flex md:flex-row gap-x-5 flex-wrap">
        <div class="font-bold animate-pulse text-lg md:text-xl xl:text-2xl bg-gray-200 h-6 w-32 rounded-md"></div> <!-- Placeholder for text -->
        <div class="flex animate-pulse flex-row gap-1 items-center justify-start">
          <div class="max-h-4 animate-pulse max-w-4 bg-gray-200 h-4 w-4 rounded-full"></div> <!-- Placeholder for icon -->
          <div class="bg-gray-200 animate-pulse h-4 w-16 rounded-md"></div> <!-- Placeholder for text -->
        </div>
      </div>
      <div class="flex animate-pulse flex-row flex-wrap gap-1 items-center justify-center">
        <div class="bg-gray-200 animate-pulse h-4 w-32 rounded-md"></div> <!-- Placeholder for members -->
      </div>
    </div>
  </div>

  <!-- Skeleton for the grid section -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-1 my-10  ">
    <div class="border animate-pulse rounded-md p-5" *ngFor="let n of [].constructor(4)"> <!-- Repeat 4 times or as needed -->
      <div class="grid animate-pulse grid-cols-1 gap-5 place-content-between">
        <div class="flex animate-pulse flex-row flex-wrap gap-1 items-center">
          <div class="max-h-4  animate-pulsemax-w-4 bg-gray-200 h-4 w-4 rounded-full"></div> <!-- Placeholder for icon -->
          <div class=" font-bold  animate-pulsetext-md bg-gray-200 h-4 w-24 rounded-md"></div> <!-- Placeholder for text -->
        </div>
        <div class="text-xs animate-pulse bg-gray-200 h-4 w-full rounded-md"></div> <!-- Placeholder for description -->
        <div class="flex animate-pulse flex-row gap-1 flex-wrap">
          <div class=" text-xs border animate-pulse px-2 py-1  whitespace-nowrap h-4 w-12 bg-gray-200 rounded-md"></div> <!-- Placeholder for topics -->
        </div>
      </div>
    </div>
  </div>
</div>
